*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.padding-5{
    padding: 5px;
}
.wrapper{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.lockscreen{
    background: #fff;
}
.main-container{
    background: #d2d6df;
    display: flex;
    max-width: 1024px;
    justify-content: center;
    margin: 0 auto
    
}
.left-icons{
    width: 125px
}
.left-control-icons{
    padding: 5px;
}

.logo{
    background-color: #fff;
    padding: 9px 4px;
    text-align: center;
    border-bottom: 3px solid #0fa8ba;

}
.border-cyan{
    border: 3px solid #0fa8ba;
}
.control-icons{
    height: 70px;
    width: 88%;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    padding: 7px 1px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.control-img{
    width: 23px;
    margin-bottom: 4px;
}
.control-icons p{
    letter-spacing: 0.5px;
    font-size: 13px;
}
.control-icons:hover{
    color: #fff !important;
}
.cyan-btn{
    background-color: #0fa8ba;
}
.pink-btn {
    background-color: #f4365c;
}
.green-btn{
    background-color: #2dce88 !important;
}
.yellow-btn{
    background-color: #fdad45;
}
.blue-btn{
    background-color: #1473e7;
}
.purple-btn{
    background-color: #605ca6;
    color: p
}
.gray-btn{
    background-color: #828282;
}
.top-header{
    padding: 5px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
    padding: 6px 6px;
}
.small-txt{
    font-size: 12px;
}
.product-items-container{
    height: 300px
}
.calc-parent{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    text-align: center;
}
.calc-left-controls{
    display: grid;
    grid-template-rows: repeat(auto);
    row-gap: 10px;
}
.calc-left-controls__item{
    color: #fff;
    padding: 7px;
}
.calc-left-controls__item i{
    font-size: 28px;
    margin-bottom: 6px;
}
.calc-left-controls a{
    cursor: pointer;
}
.calc-left-controls a:hover{
    color: #fff;
    box-shadow: 1px 1px 3px #4a4a4a inset;
}
.calc-left-controls p, .calc-save p{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
}
.calc-numbers{
    display: grid;
    margin: 0 0 0 10px
}
.calc-numbers a.calc-number{
    color: #fff;
    cursor: pointer;
    line-height: 20%;
    line-height: 3;
}
.calc-numbers a:hover{
    color: #fff;
    box-shadow: 1px 1px 3px #858585 inset;
}
.calc-number-row{
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 5px;
   
}
.calc-number{
    color: #14a6b9 !important;
    background-color: #bdd3e0;
    font-size: 20px;
    font-weight: 800;
}



.calc-number-column{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 5px;
}
.calc-number.green-btn {
    color: #fff !important
}
.gray-txt{
    color: #828282 !important
}
.calc-save{
    display: grid;
    grid-template-columns: 30% 70%;
}
.calc-save{
    margin-top: 10px;
}
.calc-save a{
    display: block;
}
.logo-responsive{
    max-width: 80%;
}
@media(max-width: 610px){
    .left-icons{
        width: 25%;
    }
    .calc-left-controls p, .calc-save p{
        font-size: 10px;
        margin: 0;
    }
    .calc-left-controls__item i{
        font-size: 20px;
    }
    .calc-number{
        font-size: 13px;
    }
    .control-icons p{
        letter-spacing: 0;
        font-size: 12px;
    }
    .control-img{
        width: 22px;
    }
    .left-control-icons{
        padding: 2px;
    }
    .calc-number-column{
        column-gap: 3px
    }
    .calc-numbers{
        margin: 0 0 0 3px ;
    }
    .calc-number-row{
        row-gap: 3px;
    }
    .calc-left-controls__item{
        padding: 3px 0 0 0;
    }
}