*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* .no-float-row{
    height: 100%;
    display: table-row;
}
.no-float-row .no-float{
    display: table-cell;
    float: none;
} */
.flex{
    display: flex
}
@media(max-width: 991px){
    /* .flex .no-float{
        flex: 1 auto;
        display: flex;
    } */
    .flex.block{
        display: block
    }
}
.no-left-border{
    border-left: 0 !important;
}
.no-top-border{
    border-top: 0 !important
}
.relative{
    position: relative;
}
.inline-table{
    display: inline-table;
}
.padding-5{
    padding: 5px;
}
.border-bottom{
    border-bottom: 3px solid #0fa8ba;
}
.margin-top{
    margin: 10px 0 0 0;
}
.wrapper{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.lockscreen{
    background: #fff;
}
.main-container{
    background: #d2d6df;
    display: flex;
    max-width: 1024px;
    justify-content: center;
    margin: 0 auto
    
}
.left-icons{
    width: 105px
}
.left-control-icons{
    padding: 5px;
}

.logo{
    background-color: #fff;
    padding: 9px 4px;
    text-align: center;
    border-bottom: 3px solid #0fa8ba;

}
.border-cyan{
    border: 3px solid #0fa8ba;
}
.control-icons{
    height: 70px;
    width: 95%;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    padding: 7px 1px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.control-img{
    width: 23px;
    margin-bottom: 4px;
}
.control-icons p{
    letter-spacing: 0.5px;
    font-size: 11px;
}
.control-icons:hover{
    color: #fff !important;
}
.cyan-btn{
    background-color: #0fa8ba;
}
.pink-btn {
    background-color: #f4365c;
}
.green-btn{
    background-color: #2dce88 !important;
}
.yellow-btn{
    background-color: #fdad45;
}
.blue-btn{
    background-color: #1473e7;
}
.purple-btn{
    background-color: #605ca6;
    color: p
}
.gray-btn{
    background-color: #828282;
}
.top-header{
    padding: 5px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
    padding: 6px 6px;
}
.small-txt{
    font-size: 12px;
}
.product-items-container{
    height: 300px
}
.calc-parent{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    text-align: center;
    column-gap: 5px;
}
.calc-left-controls{
    display: grid;
    grid-template-rows: repeat(auto);
    row-gap: 5px;
}
.calc-left-controls__item{
    color: #fff;
    padding: 5px;
}
.calc-left-controls__item i{
    font-size: 28px;
    margin-bottom: 6px;
}
.calc-left-controls a{
    cursor: pointer;
}
.calc-left-controls a:hover{
    color: #fff;
    box-shadow: 1px 1px 3px #4a4a4a inset;
}
.calc-left-controls p, .calc-save p{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    margin: 0 0 8px;
}
.calc-numbers{
    display: grid;
    /* margin: 0 0 0 10px; */
    row-gap: 5px;
}
.calc-numbers a.calc-number{
    color: #fff;
    cursor: pointer;
    line-height: 2;
}
.calc-numbers a:hover{
    color: #fff;
    box-shadow: 1px 1px 3px #858585 inset;
}
.calc-number-row{
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 5px;
   
}
.calc-number{
    color: #14a6b9 !important;
    background-color: #bdd3e0;
    font-size: 27px;
}



.calc-number-column{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 5px;
}
.calc-number.green-btn {
    color: #fff !important
}
.gray-txt{
    color: #828282 !important
}
.calc-save{
    display: grid;
    grid-template-columns: 30% 69%;
    column-gap: 1%;
}
.calc-save a{
    display: block;
}
.logo-responsive{
    max-width: 65%;
}
.cat-select{
    padding: 7px;
    width: 35%;
    border: 0;
    margin-right: 20px;
}
.items{
    background-color: #fff;
    min-height: 80px;
    text-align: center;
    margin-right: 8px;
    padding: 5px 2px;
    margin-bottom: 7px;
}
.items img{
    width: 50%
}
.items p {
    margin: 0 0 5px;
}
.items i {
    line-height: 3.6;
    font-size: 26px;
    color: #828282;
}
.items-link{
    cursor: pointer;
}
.items-link p{
    font-size: 12px;
    margin-top: 5px;
    color: #828282;
}
.left-footer{
    position: absolute;
    bottom: 0;
    /* width: 41%; */
    text-align: center;
}
@media(max-width: 991px){
    .left-footer{
        position: relative;;
    }
}
.copy-right img{
    display: block;
    width: 100%;
}
.left-footer .copy-right .cyan-div{
    background-color: #0fa8ba;
}
.bill table{
    width: 100%;
}
.row-table{
    margin: 10px 3px !important;
}
.row-table table th, .row-table table td {
    text-align: left;
    padding: 4px 2px;
    font-size: 13px;
    text-align: center;
  }
  .row-table table th:first-child, .row-table table td:first-child {
    text-align: left;
  }
  .row-table tr:first-child{
      border-bottom: 1px solid #828282;
  }
  .row-table tr{
      border-bottom: 1px dashed #828282;
  }
  .row-table select{
    padding: 3px 5px;
    border: 1px solid #ddd;
  }
  .delete-item{
      font-weight: 800;
      color: #f00;
      cursor: pointer;
  }
  .delete-item:hover{
      color: #f00
  }
  .row-table .form-control{
    padding: 3px 5px;
    text-align: center;
    height: auto;
  }
  .row-table .btn{
    padding: 3px 5px;
  }
  .total-bill{
      /* margin-top: 10% !important; */
      border-top: 1px solid #ddd;
  }
@media(max-width: 610px){
    .left-icons{
        width: 25%;
    }
    .calc-left-controls p, .calc-save p{
        font-size: 10px;
        margin: 0;
    }
    .calc-left-controls__item i{
        font-size: 20px;
    }
    .calc-number{
        font-size: 16px;
    }
    .control-icons p{
        letter-spacing: 0;
        font-size: 10px;
    }
    .control-img{
        width: 22px;
    }
    .left-control-icons{
        padding: 2px;
    }
    .calc-number-column{
        column-gap: 3px
    }
    .calc-numbers{
        margin: 0 0 0 3px ;
    }
    .calc-number-row{
        row-gap: 3px;
    }
    .calc-left-controls__item{
        padding: 3px 0 0 0;
    }
}